@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: #800080 !important;
}
.homesechead{
  overflow: hidden;
  margin-bottom: -2rem !important;
}
.homesechead hr{
  width: 15% !important;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.nav-link{
  color: #ffbb00;
}
.menu_active {
  font-weight: bold !important;
  border-bottom: 1px solid #565387 !important;
}

.navbar a:hover {
  color: #3498db !important;
}
.brand-name {
  color: #800080;
}
.text-reset{
  text-decoration: none !important;
}
.mainheader {
  /* margin-top: 10rem !important; */
  overflow: hidden;
  font-weight: 700;
  color: rgb(25, 0, 255) !important;
}
.subheader {
  overflow: hidden;
  color: rgb(0, 0, 0);
}
.btn-outline-primary {
  padding: 10px 30px;
  width: 9rem;
  height: auto;
  letter-spacing: 1px;
  outline: #800080 !important;
}

.btn-outline-primary:hover{
  background-color: purple !important;
}

.image-fluid {
  /* margin-top: 6rem !important;
    margin-left: 3rem !important; */
  width: 90%;
  -webkit-animation: mover 1.6s infinite alternate-reverse both;
  animation: mover 1.6s infinite alternate-reverse both;
}
.card {
  border: 3px solid rgba(10, 37, 213, 0.375) !important;
  overflow: hidden;
}
.card img {
  border-bottom: 2px solid #000;
}
.contatheader{
  overflow: hidden;
}
.card:hover {
  background-color: rgba(70, 8, 255, 0.415);
  cursor: pointer;
  box-shadow: 50px 20px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: all 1s ease;
  transform: scale(98%);
}

form {
  padding: 15px !important;
  border: 1px solid rgb(10, 37, 213) !important;
  border-radius: 3%;
  background-color: #c0fac32b;
}
form input,
textarea {
  border: 1px solid rgb(10, 37, 213) !important;
}
.card-img-top {
  width: 100% !important;
  height: 15rem !important ;
  object-fit: cover;
}

footer{
    position: sticky !important;
    top: calc( 100vh - 100px ) !important;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}


/* Responsive Code */

@media (max-width: 991px) {
  .navbar-brand{
        font-size: 1.5rem !important;
    }
  .menu_active {
    font-weight: bold !important;
    border-bottom: none !important;
  }
}
@media (max-width: 768px) {
  #header {
    margin-top: 20px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30;
  }
  #header .header-img img{
    width: 70px;
  }
}
@media (max-width: 420px) {
  .card-img-top {
    height: 13rem !important;
    width: 15rem !important;
  }
    .navbar-brand{
    font-size: 1.2rem !important;
}
.nav-logo{
  width: 80px !important;
}
.homesechead hr{
  width: 60% !important;
}
}
