@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@300;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&display=swap');
::-webkit-scrollbar{
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Mulish", sans-serif; */
  overflow-x: hidden;
  z-index: 1;
}
.successcontainer{
  margin-top: 8rem !important;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #02041d 100%, #04619f);
}

.loader {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  scale: 0.4;
}


.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.scroll-to-top-btn:hover {
  opacity: 1;
}








body{
   font-family: "Mulish", sans-serif !important;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#refundheader{
  margin-top: 7rem !important;
  
}
NavLink.disabled{
  pointer-events: none;
}
.footer-link:hover{
text-decoration: underline !important;
transition: all 1s ease;
}
.refundheader{
  overflow: hidden;
  font-weight: 700;
  color: rgb(255, 255, 255) !important;
  text-shadow: 5px 5px 6px rgba(250, 250, 250, 0.359);
}
.herocontainer{
  margin-top: 9rem !important;
}
.testicard{
  width: 33% !important;
  height: 50% !important;
  scale: 0.7 !important;
  padding: 0% !important;
}

video{
  height: 80%;
}


.navbar{
  padding: 0 !important;
  z-index: 9999 !important;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}
.navbar-brand {
  font-size: 2.5rem !important;
  color: #800080 !important;
}


.collapse.show {
  transition: 0.3s ease-out !important;
}
.navbar-collapse {
  transition: height 0.3s ease-in-out !important;
}





.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


.bgback{
  background-image: linear-gradient(to bottom, #02041d 65%, #04619f);
}
.homesechead{
  overflow: hidden;
  /* margin-top: -10rem !important; */
  color: rgb(254, 255, 255);
  letter-spacing: 2px;
}
.homesechead hr{
  width: 15% !important;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu_active {
  font-weight: bold !important;
  border-bottom: 1px solid #565387 !important;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.navbar a:hover {
  color: #3498db !important;
}
.brand-name {
  color: #ffffff;
  font-family: 'Alegreya SC', serif !important;
  font-style:italic;
}
.text-reset{
  text-decoration: none !important;
}

.footer-top{
  text-decoration: underline !important;
}
.service{
  margin-top: 7rem !important;
}
.plansegment{
  margin-left: 8.5rem !important;
}
.plansegment img{
  width: 30%;
}
.mainheader {
  /* margin-top: 10rem !important; */
  overflow: hidden;
  font-weight: 700;
  color: rgb(255, 255, 255) !important;
  text-shadow: 5px 5px 6px rgba(250, 250, 250, 0.359);
}
.subheader {
  overflow-y: hidden;
  color: #ffffff;
}
.btn-outline-primary {
  padding: 10px 30px;
  width: 11rem;
  height: auto;
  letter-spacing: 1px;
  outline: #ffffff !important;
  border-radius: 50px !important;
  transition: all 0.5s ease !important;
background-color: #fff !important;
  color: blue !important;
}

.btn-outline-primary:hover{
  background-color: transparent !important;
  color: #4f00fa!important;
  box-shadow:  30px 20px 20px rgba(0, 0, 0, 0.986);
}

.submitbtn{
  border: 1px solid black !important;
  font-weight: 900!important;
  background-color: #fff !important;
}

.content{
  color: rgb(255, 255, 255);
}

/* .carousel{
  width: 600px;
  height: 360px;
  margin: auto;
  background-color: #040a48;
  z-index: 1 !important;
}
.carousel-control-prev{
  height: 300px;
}
.carousel-control-next{
  height: 300px;
}
.carousel .carousel-control-prev-icon{
  visibility: hidden;
}

.carousel:hover .carousel-control-prev-icon{
  visibility: visible;
}
.carousel .carousel-control-next-icon{
  visibility: hidden;
}

.carousel:hover .carousel-control-next-icon{
  visibility: visible;
} */




.image-fluid {
  /* margin-top: 6rem !important;
    margin-left: 3rem !important; */
    margin-top: 2rem !important;
  width: 90%;
  -webkit-animation: mover 1.6s infinite alternate-reverse both;
  animation: mover 1.6s infinite alternate-reverse both;
}
.card {
  border: 3px solid rgba(15, 52, 233, 0.54) !important;
  margin: 0px !important;
  height: 33rem !important;
  background: transparent !important;
  color: #fff !important;
  scale: 0.9;
}

.exphead{
  color: turquoise;
}
.tagline{
  color: rgb(166, 144, 255);
}


.contactheader{
  overflow: hidden;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: -2rem;
  color: turquoise;
}
.courseheader{
 margin-top: 2rem;
}
.coursetopic{
  color: #fff;
  margin-bottom: -2rem;
  letter-spacing: 1px;
}
.courseimg{
  width: 30% !important;
  margin-bottom: 1rem;
}

.coursecontent{
  color: turquoise;
  padding-bottom: 1rem;
  font-style: italic;
}
.soon{
  padding-left: 8.5rem !important;
}
.card:hover {
  cursor: pointer;
  box-shadow: 50px 20px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: all 0.5s ease;
  overflow: hidden !important;
  scale: 1;
}

form {
  padding: 15px !important;
  border: .5px solid rgb(0, 68, 255) !important;
  background-color: #7c58e600;
  border-radius: 3%;
  margin-bottom: 3rem !important;
}
form input,
textarea {
  border: 1px solid #000 !important;
  outline: none;
}
label{
  color: whitesmoke;
}
#emailHelp{
  color: #ffffff78;
}
.imgarea{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.certcont{
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
}

.certcont img{
  width: 30%;
  margin: 20px;
  z-index: 1 !important;
}

.certcont img:hover{
  background-color: rgba(33, 0, 75, 0.999);
  transition: .7s;
  cursor: pointer;
  transform: scale(1.05);
}

.container-fluid .popup-image{
  position: fixed;
  top: 0; left: 0;
  background:rgba(0, 0, 0, .9) ;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.container-fluid .popup-image span{
  position: absolute;
  top:0; right: 0;
  font-size: 60px;
  font-weight: bolder;
  cursor:pointer;
  color: yellow;
  z-index: 100;
  transform: translate(-2rem, 4rem);
}

.container-fluid .popup-image img{
  position: absolute;
  top:50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 460px;
  margin-top: 1rem;
  object-fit: cover;

}

.paymentcard1{
  width: 50% !important;
  scale: 0.7;
  height: 38rem !important;
}
.paymentcard2{
  width: 50% !important;
  scale: 0.7;
  height: 38rem !important;
}
.paymentcard1 img{
  border-bottom: 2px solid blue;
  object-fit: cover !important;
}
.paymentcard2 img{
  border-bottom: 2px solid blue;
  object-fit: cover !important;
}
.paymentcard1:hover{
  scale: 0.76 !important;
}
.paymentcard2:hover{
  scale: 0.76 !important;
}




.card-img-top {
  width: 100% !important;
  height: 26rem !important ;
  object-fit: cover;
  border-bottom: 1px solid #000;
}
.thirdimg{
  padding: 0!important;
  opacity: 0.7;
  width: 100% !important;
  margin-top: -2rem !important;
}
footer{
    position: sticky !important;
    top: calc( 100vh - 100px ) !important;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}


/* Responsive Code */

@media (max-width: 991px) {
  .navbar-brand{
        font-size: 1.5rem !important;
    }
  .menu_active {
    font-weight: bold !important;
    border-bottom: none !important;
  }
}
@media (max-width: 768px) {
  #header {
    margin-top: 1px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30;
  }
  #header .header-img img{
    width: 70px;
  }
}
@media (max-width: 426px) {
  .mb-4 {
    margin-bottom: 0rem!important;
  }
  .plansegment{
    margin-left: 3rem !important;
  }
  .plansegment img{
    width: 80%;
  }

  .soon{
    padding-left: 8rem !important;
  }
.courseimg{
  width: 100% !important;
}

  .card-img-top {
    height: 20rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }
  .testicard{
    width: 100% !important;
    margin-top: -5% !important;
    transform: translateY(30px);
  }
  .row{
    overflow: hidden !important;
  }

  .cancelimage{
    width: 85% !important;
   }
   .paymentcard1{
    margin-top: 6rem !important;
    margin-bottom: 2rem !important;
    width: 100% !important;
    scale: 1 !important;
  }
  .paymentcard2{
    width: 100% !important;
    scale: 1 !important;
    height: 33rem !important;
  }
  .paymentcard1:hover{
    scale: none !important;
  }
  .paymentcard2:hover{
    scale: none !important;
  }



  .certcont{
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }
  
  .certcont img{
    width: 100%;
    margin: 10px;
  }
  .certcont img:hover{
    transition: .7s;
    transform: scale(1.02);
  }
  
  .container-fluid .popup-image img{
    width: 350px;
  }
  .container-fluid .popup-image span{
    transform: translate(-20px,40px);
  }

}




@media (max-width: 420px) {
  .card-img-top {
    height: 16.5rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }
    .navbar-brand{
    font-size: 1.4rem !important;
}
.nav-logo{
  width: 80px !important;
}
.homesechead hr{
  width: 60% !important;
}
.card-text{
  overflow: hidden !important;
}
.card{
  height: 33rem !important;
  scale: 1 !important;
}
.mainheader{
  text-shadow: 5px 5px 5px rgba(250, 250, 250, 0.288);
}
.certcont{
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}

.certcont img{
  width: 100%;
  margin: 10px;
}
.certcont img:hover{
  transition: .7s;
  transform: scale(1.02);
}


.herocontainer{
  margin-top: 2rem !important;
}
.container-fluid .popup-image img{
  width: 350px;
}
.container-fluid .popup-image span{
  transform: translate(-15px,20px);
}
.bgback{
  background-image: linear-gradient(to bottom, #02041d 30%, #04619f);
}

 .courseimg{
  width: 100% !important;
}
.thirdimg{
  width: 100% !important;
  opacity: 1;
}
.mainheader{
  text-shadow: 5px 5px 5px rgba(250, 250, 250, 0.526);
}
body{
  font-family: "Mulish", sans-serif !important;
   animation: fadeInAnimation ease 3s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
 }
 
 @keyframes fadeInAnimation {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 .soon{
  padding-left: 5rem !important;
}
 .cancelimage{
  width: 85% !important;
 }
 .paymentcard1{
  width: 100% !important;
  scale: 1 !important;
}
.paymentcard2{
  width: 100% !important;
  scale: 1 !important;
  height: 33rem !important;
}
.paymentcard1:hover{
  scale: none !important;
}
.paymentcard2:hover{
  scale: none !important;
}

.testicard{
  width: 100% !important;
  margin-top: 10% !important;
  transform: translateY(30px);
}
.row{
  overflow: hidden !important;
}


.pricingcard{
  scale: 0.8;
  margin-top: -3rem !important;
}
.mb-4 {
  margin-bottom: 0rem!important;
}

}